body {
  background: #e5e7eb !important;
}

aside.md\:tw-w-1\/4.tw-p-4.tw-bg-green-500.tw-text-white.tw-font-semibold {
  background-color: #1491c1 !important;
  width: 260px !important;
  padding: 0px !important;
}

.dialog-off-canvas-main-canvas {
  background: rgb(229, 231, 235);
}

.tw-shadow.tw-text-right.tw-px-8 {
  text-align: right !important;
  line-height: 3em;
  background: white;
  border-bottom: solid 0.5px #ffffff;
  box-shadow: 0 2px 4px -3px #cfc8c8;
}

.md\:tw-flex-1.tw-p-4.block-contenu {
  margin: 0px !important;
  padding: 0px !important;
}

h1.js-quickedit-page-title {
  display: none;
  line-height: 2em;
  background: white;
  color: #1391c1 !important;
  box-shadow: 0px 2px 13px -3px #cfc8c8;
}

div#block-searchform {
  margin: 2rem;

  [type="search"] {
    -webkit-appearance: textfield;
    border-radius: 5px;
    width: 360px;
    height: 2.5rem;
  }
}
nav#block-mainnavigation {
  margin: 20px 20px;

  ul li {
    line-height: 2.5em;
    font-weight: normal;
  }
}

form#search-block-form {
  display: flex;
  width: 100% !important;
}

div#edit-actions {
  line-height: 2.5rem;
  margin: 10px 20px;

  #edit-submit {
    width: 100px !important;
    color: white !important;
    background: #1391c1 !important;
    border: cornsilk !important;
    margin-left: 89%;
    text-align: center;
    line-height: 41px !important;
    border-radius: 0px !important;
    font-size: 12px;
  }
}

div#datatable_wrapper {
  margin: 2rem;
}

div#block-views-block-course-liste-block-1 {
  margin: 1.5rem;
}

.md\:tw-flex-1.tw-p-4.block-contenu {
  background: rgb(243, 244, 246);
  position: relative;
}

tr.color-edite-countrie td:nth-child(3) {
  color: #149b2c !important;
}

tr.color-edite-user td:nth-child(4) {
  color: #149b2c !important;
}

nav#block-mainnavigation ul li:hover {
  background: #05505c;
}
nav#block-mainnavigation ul li:active {
  background: #05505c;
}

nav#block-tailwindcss-tools li {
  margin: 20px;
}

h1.js-quickedit-page-title {
  font-size: 1.5rem !important;
  padding-left: 2rem !important;
}

.tw-item-card {
  height: 166px;
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  --tw-border-opacity: 1;
  border-color: rgba(229, 231, 235, var(--tw-border-opacity));
  border-radius: 0.5rem;
  border-width: 1px;
  padding: 1rem;
  margin: 0.5rem;
  position: relative;

  p {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  &:hover {
    box-shadow: 1px 0px 7px gainsboro;
  }

  span.section-buttom {
    line-height: 70px;

    .numberomodul {
      font-size: 0.8rem !important;
      color: gray;
      margin-right: 8.7rem;
    }
  }

  .section-button-course {
    position: absolute;
    bottom: 10px !important;
  }
}
.views-view-grid.horizontal.cols-4.clearfix {
  margin: 1.5rem;
}

a.tw-action-new.tw-btn.tw-btn-primary {
  background: #1391c1;
  padding: 5px;
  border-radius: 0;
  color: white;
  position: absolute;
  top: 49px !important;
  right: 2em;
  font-size: 12px;
  z-index: 9999999999;
  width: 11%;
  line-height: 37px;
  text-align: center;

  &:hover {
    background: linear-gradient(45deg #46ccff, #0c6385);
  }
}

.add-course-btn {
  top: -80px !important;
}

article.node {
  margin: 2rem;
  background: white;
  box-shadow: 1px 1px 6px #2316161a;
  border-radius: 5px;
  padding: 15px;
  width: 70%;
  position: relative !important;

  footer {
    display: none;
  }
}

div#block-filsdariane {
  padding: 2rem 0rem 0rem 2rem;
  color: gray;
}

div#block-views-block-module-et-sub-block-1-2 {
  margin: 2rem;
}

span.link-text {
  font-weight: initial;
}

.blockmodule-des > h3 {
  color: gray;
  background: white;
  line-height: 5rem;
  width: 70%;
  font-size: 1.5rem;
  font-weight: 200;
  padding: 0px 20px;
  border-bottom: 1px solid #80808036;
  position: relative;

  &:hover {
    background: rgb(238, 251, 245);
  }
}
/* 
.blockmodule-des > div {
display: none;
} 


.blockmodule-titre-module-green{
  background:rgb(238, 251, 245) !important;
}

*/

.blockmodule-submodule {
  width: 100% !important;
  /* background:rgb(238, 251, 245) !important; */
  padding: 5px 20px !important;
  .blockmodule-description-submodule {
    &:hover {
      color: rgb(17, 150, 238);
    }
  }
}

.blockmodule-des-modale {
  opacity: 0 !important;
}

.expand-minimize-button {
  position: absolute;
  right: 1%;
  margin: 25px 20px;
  cursor: pointer;
  z-index: 99999999999999999999999 !important;
}

.blockmodule-titre-module > a {
  z-index: -1 !important;
}

.colore-black {
  background: rgb(238, 251, 245) !important;
  width: 100%;
}

.ch-rotation {
  transform: rotate(180deg) !important;
}

span.expandall-minimizeall-button.cursor-pointer {
  color: #1391c1;
  line-height: 2rem;
  cursor: pointer;
  position: absolute;
  top: -48px;
  left: 91%;
}

.tw-btn-action-new {
  border-width: 2px;
  justify-content: center;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  min-height: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding: 0rem 3rem;
  color: #1491c1 !important;
  margin: 6rem 0rem;
  width: 21.5%;

  &:hover {
    color: #ffffff !important;
    background: #1491c1;
    border-style: none !important;
  }
}

.tw-btn-action-new {
  --tw-border-opacity: 1;
  border-color: rgba(16, 185, 129, var(--tw-border-opacity));
  border-radius: 0.5rem;
  border-style: dashed;
}
.tw-h-16 {
  height: 4rem;
}

.listes-courses > a {
  color: black;
  font-size: 18px;
  font-weight: 700;
}

div#block-views-block-module-liste-block-1 {
  margin: 2em;
  width: 70%;
}
.blockmodule-titre-module-expland {
  margin: 10px auto;
}

.blockmodule-titre-module {
  cursor: pointer;
  color: gray;
  background: white;
  line-height: 5rem;
  font-size: 1.5rem;
  font-weight: 200;
  padding: 0px 20px;
  border-bottom: 1px solid #80808036;
  position: relative;

  &:hover {
    background: #eefbf5;
  }
}

.blockmodule-submodule {
  width: 100%;

  .blockmodule-titre-submodule {
    font-size: 18px;
    font-weight: 500;
    color: gray;
    padding: 10px 0px;
    width: 70%;
  }
}
form#node-course-form {
  margin-top: 40px;
}

.js-form-item.form-item.js-form-type-vertical-tabs.form-item-.js-form-item-.form-no-label {
  display: none;
}
/*
div#block-tailwindcss-content {
 margin-top: 30px;
}
*/

.js-form-item.form-item.js-form-type-textfield.form-item-title-0-value.js-form-item-title-0-value,
.js-form-item.form-item.js-form-type-entity-autocomplete.form-item-field-course-0-target-id.js-form-item-field-course-0-target-id,
.js-form-item.form-item.js-form-type-entity-autocomplete.form-item-field-module-0-target-id.js-form-item-field-module-0-target-id,
.js-form-item.form-item.js-form-type-textfield.form-item-field-message-0-value.js-form-item-field-message-0-value {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: auto;
  padding: 15px 0px;
}

input#edit-preview {
  display: none;
}

.js-form-item.form-item.js-form-type-checkbox.form-item-status-value.js-form-item-status-value {
  display: none;
}

form#comment-comment-delete-form {
  height: 120px !important;
  padding: 20px 0px 0px 30px !important;
}

textarea#edit-field-commentbody2-0-value , input#edit-subject-0-value {
  border: solid;
  border-radius: 5px;
  width: 100%;
}

div#block-views-block-listcomments-block-1 {
  margin: 17px;
  background: white;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  line-height: 3;
  width: 83%;
  box-shadow: 1px 1px 6px #2316161a;
  color: #575757;
}

form#node-course-form,
form#node-module-form,
form#node-sub-module-form,
.node-course__edit-form,
.node-form,
form#comment-comment-delete-form {
  margin-top: 40px;
  background: white;
  width: 95%;
  margin: auto;
  box-shadow: 0px 1px 4px 1px #02020221;
  border-radius: 0.25rem;
  height: 380px;
  margin: 30px auto;

  .js-form-item.form-item.js-form-type-textarea.form-item-field-description-0-value.js-form-item-field-description-0-value {
    width: 95%;
    margin: auto;
  }

  textarea {
    overflow: auto;
    border: 1px #98a8bd solid;
    border-radius: 0.25rem;
    width: 100%;
  }

  input#edit-title-0-value,
  input#edit-field-course-0-target-id,
  input#edit-field-module-0-target-id,
  input#edit-field-message-0-value,
  .js-form-item,
  input#edit-field-localization-tag-0-target-id,
  input#edit-field-field-submoduleinmessage-0-target-id {
    border-radius: 0.25rem;
    line-height: 2;
  }
}
form#node-module-form,
form#node-sub-module-form {
  height: 400px !important;
}

.seconde-side-bar {
  position: absolute;
  right: 0;
  top: 150px;
}

.tw-p-3 {
  padding: 0.75rem !important;
  margin: -1.5rem 2rem 0rem 1rem;
  text-align: center;
  box-shadow: 1px 1px 6px #2316161a;
}

.tw-grid.tw-grid-cols-4.tw-gap-1.tw-place-items-stretch > p {
  color: #5656568f;

  &:hover {
    color: #149b2c;
  }
}

.blockmodule-description-submodule {
  padding: 20px;
}
.message {
  border: 1px solid #80808063;
  padding: 20px;
}

form#node-sub-module-edit-form {
  height: 330px;
}

/*
.views-col {
  position: relative;

  a.addcourseoncard {
    position: absolute;
    right: -68%;
  }
}

*/
span.tw-text-green-500.align-right {
  color: #1391c1 !important;
  position: absolute;
  right: 30px;
}

.views-col.col-1.addcourse-blank .tw-item-card {
  color: #1391c1;
  border: 2px solid #1391c1;
  position: relative;
  cursor: pointer !important;
  border-style: dotted !important;

  &:hover {
    color: rgb(255, 255, 255);
    border: 2px solid #1391c1;
    background: #1391c1 !important;
    cursor: pointer !important;
  }

  a.addcoursebutton {
    position: absolute;
    margin: auto;
    top: 40%;
    left: 30%;
  }
}
a.addcoursebutton:before {
  content: "";
  position: absolute;
  height: 164px;
  width: 225px;
  background: red;
  top: -66px;
  right: -69px;
  opacity: 0;
}

.contextual-toolbar-tab.toolbar-tab {
  left: 92%;
  background: #ff0000;
  position: absolute;
}

/*
nav#toolbar-bar , div#toolbar-item-administration-tray ,li.menu-item.menu-item--expanded , li.menu-item , #toolbar-administration, #toolbar-administration *{
  background: #036672;
}

#toolbar-administration, #toolbar-administration * {
  box-sizing: border-box;
  color: white;
}

#toolbar-administration, #toolbar-administration *:hover {
  box-sizing: border-box;
  color: rgb(0, 0, 0);
}
*/

/*
article.node:before {
  content: '';
  background: #c7c3c3;
  height: 803px;
  width: 1px;
  position: absolute;
  right:-2.5%;
  top: 0;
}
*/

#edit-delete {
  border-radius: 5px !important;
  width: 100px !important;
  color: white !important;
  background: linear-gradient(45deg, #e53e3e, #e53e3e) !important;
  border: cornsilk !important;
  padding: 10px;
}

.dialog-off-canvas-main-canvas {
  background: #e5e7eb;
  position: relative;
  display: flex;
  align-items: center;

  form#user-login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #e5e7eb;
    margin-top: 0px;

    div#edit-actions {
      line-height: 2.5rem;
      margin: 10px 20px;
      width: 100%;
      text-align: center;
    }

    .js-form-item {
      text-align: center;
    }

    .svg-inline--fa.fa-fw {
      width: 1.25em;
      margin: 0px 15px;
      color: #ffffff;
    }

    label {
      display: none;
    }
    /*
    &:before {
      content: "";
      background: #e5e7eb;
      position: absolute;
      height: 130px;
      width: 100%;
      top: -30px;
    } 

    */

    input#edit-submit {
      background: #1391c1 !important;
      width: 30% !important;
      margin-left: 0px;
      border: solid 2px white !important;
      border-radius: 20px !important;
      transition: 0.3s;

      &:hover {
        background: #1555ac !important;
        border: none !important;
        width: 32% !important;
        line-height: 2.4;
      }
    }

    input {
      line-height: 2;
      border-radius: 0.25rem;
      width: 60%;
      font-weight: 200 !important;
      color: white !important;

      div#edit-name--description,
      div#edit-pass--description {
        opacity: 0;
      }

      h1.titre-cms-translation {
        font-size: 20px;
        font-weight: 700;
        margin: 40px 0px;
        color: #4b5366;
        margin-left: 50px;
      }
    }
  }

  .md\:tw-flex-1.tw-p-4.block-contenu {
    min-height: 100vh;
  }

  .add-module {
    color: #34383a8c !important;
    border: solid 2px;
    border-style: dashed;
    border-radius: inherit;
    line-height: 3;
    text-align: center;
    width: 80%;
    margin: auto 20px;
    position: absolute;
    z-index: 10;
    padding: 0px;
    pointer-events: none;
    cursor: not-allowed;
  }
  .add-module-enable {
    color: #1491c1 !important;
    border: solid 2px;
    border-style: dashed;
    border-radius: inherit;
    line-height: 3;
    text-align: center;
    width: 80%;
    margin: auto 20px;
    position: absolute;
    z-index: 10;
    padding: 0px;
    cursor: pointer;
    pointer-events: visible !important;

    &:hover {
      background: #1491c1 !important;
      border-style: hidden;
      color: white !important;
      line-height: 3.4;
    }
  }

  .breadcum {
    margin: 20px auto;
    margin-left: 3%;
    color: #4b5366;
  }
  .node-content {
    .quickedit-field {
      a {
        --tw-text-opacity: 1;
        color: rgba(107, 114, 128, var(--tw-text-opacity));
      }

      font-size: 1.125rem;
      line-height: 1.75rem;
      font-weight: 300;
    }
    div div:nth-child(1) {
      color: gray;
      font-size: 25px;
      font-weight: 100;
      margin: 5px auto;
    }
    section {

     
      margin: 100px auto 0px;
      h2:nth-child(1) {
        position: relative;
        font-size: 25px;
        font-weight: 100;

        &:before {
          content: "";
          background: #f3f4f6;
          position: absolute;
          height: 65px;
          width: 105%;
          left: -20px;
          top: -80px;
        }
      }
      ul.links.inline {
        display: flex;
        margin: 5px -10px;

        li {
          margin: auto 10px;
          background: #1391c1;
          color: white;
          padding: 5px;
          font-size: 12px;
          width: 60px;
          text-align: center;
        }
      }
    }
  }

  a#edit-cancel {
    background: #e53e3e;
    font-size: 12px;
    line-height: 20px !important;
    padding: 15px 30px;
    color: white;
    margin: 0px -220px;
  }

  div#edit-actions {
    display: flex;
    width: 96%;
  }

  li.comment-add {
    display: none;
  }

  .add-translation {
    color: #1491c1;
    border: solid 2px;
    border-style: dashed;
    border-radius: 0px !important;
    line-height: 3;
    text-align: center;
    width: 80%;
    margin-left: 5%;
    z-index: 10;
    margin: 20px 22px;
    white-space: nowrap !important;
  }

  .activitylogMessage {
    margin-top: 22px;
  }

  /*
form#user-login-form:after {
  content: "";
  background: #e4e7eb;
  position: absolute;
  height: 904px;
  width: 100%;
  z-index: 99999999999999999999;
  bottom: 0;
} 

*/

  nav#block-logout ul {
    margin-left: 1.2rem;
  }

  nav#block-logout ul li a svg:nth-child(1) {
    opacity: 0;
  }

  svg.svg-inline--fa.fa-sign-in-alt.fa-w-16.logout-menu {
    margin-right: 5px;
    margin-left: -20px;
  }

  div#block-views-block-add-module-button-block-1 {
    position: relative;
  }

  .contextual-region {
    position: inherit !important;
  }

  div#edit-field-course-wrapper {
    display: none;
  }

  .listee-des-module-sub-module {
    position: relative !important;
    margin-top: 60px !important;
    width: 100% !important;
    background: #ffffff;
  }

  #block-views-block-add-module-button-block-1 {
    position: relative !important;
  }

  #block-views-block-module-liste-block-1 {
    position: relative !important;
  }

  span.section-buttom {
    position: absolute;
    bottom: -15px;
    width: 100%;
  }

  div#block-views-block-content-completion-block-1 {
    margin-top: 48px;
  }

  span.tw-switch-editing-button.tw-rounded.border.tw-border-green-500.tw-px-5.py-2.tw-text-green-700.tw-text-sm.tw-cursor-pointer {
    position: absolute;
    margin: auto;
    top: -101px;
    left: 34px;
    border: solid #9cd2e7 1px !important;
    padding: 0px;
    color: #ffffff !important;
    background: #9cd2e7;
    border: solid 2px;
    border-radius: 0px !important;
    line-height: 45px !important;
    text-align: center;
    width: 50%;
    margin: auto 83px;
    z-index: 10;
  }

  span.tw-switch-editing-button.tw-rounded.border.tw-border-green-500.tw-px-5.py-2.tw-text-green-700.tw-text-sm.tw-cursor-pointer.turneditone {
    color: white !important;
  }

  .turneditone {
    background: linear-gradient(45deg, #1491c1, #089cd6);
    color: #ffffff !important;
    border: none !important;
  }

  a.use-ajax {
    padding-left: 78.9% !important;
    color: rgba(59, 131, 246, 0.931);
    position: relative;
    font-weight: 200;
  }

  svg.svg-inline--fa.fa-plus-square.fa-w-14 {
    margin: auto 10px;
  }

  .ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.ui-dialog-buttons {
    width: 500px !important;
    border: none !important;

    div#edit-body-0-format--fHBn1xaNehc {
      display: none;
    }

    span#cke_1_bottom {
      display: none;
    }

    .node-form {
      background: white !important;
      width: 100%;
      margin: auto !important;
      box-shadow: none !important;
      border-radius: inherit !important;
      border: none !important;
    }

    .filter-help {
      float: right;
      display: none !important;
    }
    .form-submit {
      margin: 0.5em 0.4em 0.5em 0;
      cursor: pointer;
      background: #149b2c !important;
      color: white !important;
      border: rgb(255, 255, 255) !important;
    }
  }

  span.message-etat {
    background: #11a02b36;
    color: #11a02b;
    padding: 3px 6px;
    margin: 8px;
    border-radius: 10px;
    font-size: 12px;
  }

  form#node-translation-form {
    width: 64%;
    padding: 30px;
    height: 850px;
    position: absolute;
    right: 40px;
  }

  div#block-views-block-messagetotranslate-block-1 {
    width: 27%;
    background: white;
    border-radius: 5px;
    position: absolute !important;
    margin-top: 45px !important;
    margin: 30px;
    padding: 10px;
    box-shadow: 0px 1px 4px 1px #0a0a0a21;
  }

  .grid.grid-cols-2.gap-3.justify-items-stretch.items-stretch.no-resulte {
    background: white;
    text-align: center;
    padding: 66px;
    border-radius: 10px;
    border: dashed #a8a8a8;
  }

  form#node-translation-form .field--name-field-message {
    display: none;
  }

  input#edit-field-image-0-upload {
    width: 100%;
    height: 250px;
    background: #6ee7b7;
    border: none;
    position: inherit;
    position: relative;

    &:before {
      content: "";
      background: #6ee7b7;
      position: absolute;
      height: 150px;
      width: 91%;
      z-index: 999999;
    }
  }

  img {
    display: block;
  }

  label#edit-field-image-0--label {
    display: none;
  }

  .js-form-item.form-item.js-form-type-managed-file.form-item-field-image-0.js-form-item-field-image-0 h1 {
    position: absolute;
    z-index: 99999999999999999;
    font-size: 20px;
    left: 35%;
    top: 135px;
    font-weight: 400;
  }
  div#edit-field-image-0--description {
    display: none;
  }

  .js-form-item.form-item.js-form-type-select.form-item-field-channel.js-form-item-field-channel,
  .js-form-item.form-item.js-form-type-select.form-item-field-videotype.js-form-item-field-videotype,
  .container-inline.js-form-item.form-item.js-form-type-select.form-item-moderation-state-0-state.js-form-item-moderation-state-0-state,
  .js-form-item.form-item.js-form-type-textfield.form-item-field-langage-0-value.js-form-item-field-langage-0-value {
    display: flex !important;
    flex-direction: column !important;
  }

  select#edit-field-channel,
  input#edit-field-langage-0-value,
  select#edit-field-videotype,
  select#edit-moderation-state-0-state,
  input#edit-field-videoembeded-0-value,
  input#edit-field-video-0-uri,
  select#edit-field-field-moduleinmessage,
  select#edit-field-localization-channel,
  select#edit-field-localization-langue,
  input#edit-mail,
  input#edit-name,
  input#edit-pass-pass1,
  input#edit-pass-pass2,
  select#edit-preferred-langcode,
  select#edit-timezone--2,
  input#edit-field-contry-0-target-id,
  input#edit-path-0-alias,
  input#edit-user-picture-0-upload {
    border: solid 1px #a0aebe;
    border-radius: 5px;
    height: 35px;
    font-weight: 200 !important;
    width: 100%;
  }

  div#block-views-block-messagetotranslate-block-1 .views-field:nth-child(1) {
    color: #a0aec0;
  }

  div#block-views-block-messagetotranslate-block-1 .views-field:nth-child(3),
  div#block-views-block-messagetotranslate-block-1 .views-field:nth-child(4) {
    color: #718096;
    font-size: 12px;
  }

  div#block-views-block-messagetotranslate-block-1 .views-field:nth-child(5) {
    color: #1491c1;
    // border: solid 1px;
    width: 65px;
    // padding: 4px;
    text-align: center;
    border-radius: 5px;
    margin: auto 185px;
  }

  div#block-views-block-messagetotranslate-block-1 .views-field:nth-child(4) {
    position: absolute;
    width: 165px;
  }

  .node-translation-form #edit-submit {
    position: absolute;
    left: 29px;
  }

  div#block-views-block-messagetotranslate-block-1 .views-field:nth-child(3):before {
    left: 29px;
    content: "";
    position: absolute;
    width: 27.2%;
    height: 1px;
    z-index: 999999999999999;
    background: #718096;
    margin-top: -7px;
  }

  div#block-views-block-messagetotranslate-block-1 .views-field:nth-child(2) {
    padding: 0px 0px 10px 0px;
  }

  div#block-views-block-testcompletion-block-1 header,
  div#block-views-block-completionnbmessage-block-1 header {
    opacity: 0;
    position: absolute;
  }

  .colo-midle {
    color: orange !important;
  }

  .coloremidel {
    background: #ffa50059 !important;
    border: solid 1px orange !important;
  }

  .colo-midlegr {
    color: #069668 !important;
  }

  .coloremidelgr {
    background: #49b9954a !important;
    border: solid 1px #069668 !important;
  }

  .grid-cols-1.card-dasboard {
    display: flex;
    width: 98%;
    justify-content: space-around;
    margin: 60px auto;
  }

  .crad-diagram {
    position: relative;
    margin-top: -25px;
  }

  .report-card {
    height: 100px;
    width: 222px;
    background: white;
    border-radius: 10px;
    border: solid 1px #e2e8f0;
    position: relative;
    transition: 1s;

    &:hover {
      border: solid 1px #ffffff;
      box-shadow: 1px 1px 4px 2px #e2e8f0;
    }

    .mt-8 {
      position: absolute;
      bottom: 10px;
      left: 15px;
      font-size: 18px;
      color: #ffffff;
      font-weight: 200;
    }

    span.rounded-full.text-white.badge.bg-teal-400.text-xs.Cours,
    span.rounded-full.text-white.badge.bg-red-400.text-xs.Module,
    span.rounded-full.text-white.badge.bg-teal-400.text-xs.Messagestranslated,
    span.rounded-full.text-white.badge.bg-teal-400.text-xs.Messages {
      position: absolute;
      top: 0px;
      font-size: 45px;
      color: #ffffff;
      font-weight: bold;
      left: 54px;
    }

    svg.svg-inline--fa.fa-book.fa-w-14,
    svg.svg-inline--fa.fa-comment-dots.fa-w-16,
    svg.svg-inline--fa.fa-comment-dots.fa-w-16,
    svg.svg-inline--fa.fa-th-list.fa-w-16,
    .svg-inline--fa.fa-w-20 {
      position: absolute;
      left: 16px;
      top: 20px;
      color: #ffffff;
      font-size: 26px;
    }
  }

  span.rounded-full.text-white.badge.bg-teal-400.text-xs.Cours,
  span.rounded-full.text-white.badge.bg-red-400.text-xs.Module,
  span.rounded-full.text-white.badge.bg-teal-400.text-xs.Messagestranslated,
  span.rounded-full.text-white.badge.bg-teal-400.text-xs.Messagaes {
    position: absolute;
    top: 0px;
    font-size: 45px;
    color: #ffffff;
    font-weight: bold;
    left: 54px;
  }

  svg.svg-inline--fa.fa-book.fa-w-14,
  svg.svg-inline--fa.fa-comment-dots.fa-w-16,
  svg.svg-inline--fa.fa-comment-dots.fa-w-16,
  svg.svg-inline--fa.fa-th-list.fa-w-16 {
    position: absolute;
    left: 16px;
    top: 20px;
    color: #ffffff;
    font-size: 26px;
  }
}

div#block-views-block-cardnbcours-block-1,
div#block-views-block-cardnbmessage-block-1,
div#block-views-block-cardnbmessagetranslated-block-1,
div#block-views-block-cardnbmodule-block-1 {
  position: absolute !important;
  opacity: 0;
}
.tw-shadow-lg.tw-rounded-lg.tw-overflow-hidden {
  background: white;
  width: 95%;
  margin: 35px auto;
}

strong {
  padding: 15px;
  color: #1daae2;
  font-size: 30px;
  background: white;
  box-shadow: 0px 0px 1px 0px;
  border-radius: 10px;
}

div#block-views-block-dasbord-view-block-1 {
  margin-top: -16px;
  position: relative !important;
}

div#block-views-block-testcompletion-block-1,
div#block-views-block-completionnbmessage-block-1 {
  position: absolute;
  display: none;
}

span.message-channel {
  color: blue;
  background: #0000ff3b;
  padding: 3px 6px;
  margin: 3px;
  border-radius: 10px;
  font-size: 12px;
}

span.message-langage {
  background: #0094ff4d;
  color: #0094ff;
  padding: 3px 23px;
  margin: 1px;
  border-radius: 0px;
  font-size: 12px;
  line-height: 3.5;
  top: 48px;
}

span.message-etat {
  background: #11a02b36;
  color: #11a02b;
  padding: 3px 6px;
  margin: 8px;
  border-radius: 10px;
  font-size: 12px;
}

div#block-views-block-listtranslation-block-1 {
  width: 70%;
  margin-left: 2rem;
  margin-top: 25px;
  margin-bottom: 25px;
}

.show-message {
  background: white;
  margin: 10px;
  border-radius: 5px;
  min-height: 135px;
  padding: 10px;
  box-shadow: 1px 1px 6px #2316161a;
}

form#node-translation-edit-form {
  div#edit-field-message-wrapper:before {
    content: "";
    position: absolute;
    background: #6ee7b7;
    height: 100px;
    width: 80%;
  }
  .js-form-item.form-item.js-form-type-managed-file.form-item-field-image-0.js-form-item-field-image-0 h1 {
    position: absolute;
    z-index: 99999999999999999;
    font-size: 20px;
    left: 40%;
    top: 316px;
    font-weight: 400;
  }
}

.js-form-item.form-item.js-form-type-select.form-item-field-field-moduleinmessage.js-form-item-field-field-moduleinmessage {
  display: flex;
  flex-direction: column;
}

form#content-moderation-entity-moderation-form {
  .entity-moderation-form {
    margin: 2em 0;
    padding-left: 1em;
    border: 0px dashed #bbb;
    background: #036572;
    border-radius: 6px;
    color: white;
    position: absolute;
    opacity: 0;
  }

  select#edit-new-state {
    height: 2rem;
    border-radius: 5px;
    color: black;
  }

  input#edit-revision-log {
    height: 2rem;
    border-radius: 5px;
    width: 62%;
    color: #000000;
  }

  .entity-moderation-form input[type="submit"] {
    margin-bottom: 1.2em;
    color: white;
    background: #ff9900;
    border: white;
    width: 99px;
    position: absolute;
    right: 70px;
    top: 70px;
    height: 2rem;
    border-radius: 5px;
  }
}

p.tw-font-semibold {
  color: #575757;
}

.report-card:nth-child(1) {
  background: linear-gradient(to right, #fe9365, #feb798);
}

.report-card:nth-child(2) {
  background: linear-gradient(to right, #0ac282, #0df3a3);
}

.report-card:nth-child(3) {
  background: linear-gradient(to right, #01a9ac, #01dbdf);
}

.report-card:nth-child(4) {
  background: linear-gradient(to right, #fe5d70, #fe909d);
}

div[data-drupal-messages] {
  color: rgb(0, 0, 0);
  background: #1391c159 !important;
  width: 95%;
  margin: 20px auto;
  border-radius: 5px;
  text-align: center;
  border: solid 1px #1390c1 !important;
  display: none;
}

pre.backtrace {
  display: none;
}

div[aria-label="Error message"] {
  display: none;
}

div [aria-label="Status message"] {
  padding: 10px;
}

input[data-drupal-selector="edit-field-contentmessage-0-value"] {
  height: 260px;
  width: 99%;
  border-radius: 5px;
}

form#node-language-form {
  height: 170px;
  margin: 30px auto;
}

article[typeof="schema:Person"] {
  background: white;
  border-radius: 5px;
  width: 50%;
  margin: auto;
  padding: 38px;
  text-align: center;
  margin: 30px auto;

  img {
    max-width: 100%;
    height: auto;
    border-radius: 50px;
    box-shadow: 0px 0px 2px 0px;
    margin: auto;
    margin: auto auto 10px auto;
  }

  div:nth-child(3) a {
    color: green;
    background: #49b9954a !important;
    border-radius: 51px;
    padding: 5px;
    line-height: 3;
  }

  div {
    display: contents;
  }
}

.site-name.tw-text-2xl.tw-text-white.tw-font-semibold.titre-website {
  font-size: 1rem !important;
  background: #a5dff5d1;
  border-radius: 0px;
  padding: 12px;
  color: #fff !important;
  text-align: center;
  width: 100%;

  &:hover {
    background: #2584aad1 !important;
    color: white !important;
  }

  a.titre-website1 {
    position: relative;

    &:before {
      content: "";
      background: red;
      height: 46px;
      width: 259px;
      position: absolute;
      top: -13px;
      left: -63px;
      opacity: 0;
    }
  }
}
/*
input {
  padding: 0px 0px 0px 10px;
} */

a.generatebutton {
  background: #13b5f3;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 2rem;
  cursor: pointer;
}

a.hidegeneratebutton {
  background: forestgreen;
  color: white;
  padding: 5px;
  border-radius: 5px;
  margin: 2rem;
  cursor: pointer;
}

.channelgenerate a {
  display: none;
}

.channelgenerate.sms img {
  display: none;
}

.channelgenerate.sms {
  background: grey;
  width: 100%;
  padding: 22px;
  border-radius: 5px;
  margin-top: 25px;
  box-shadow: 1px 1px 6px #2316161a;
  color: white;
}

.channelgenerate.moodle {
  background: #f98012;
  width: 100%;
  padding: 22px;
  border-radius: 5px;
  margin-top: 25px;
  box-shadow: 1px 1px 6px #2316161a;
  color: white;
}

.channelgenerate.whatsapp {
  background: #25d366;
  width: 100%;
  padding: 22px;
  border-radius: 5px;
  margin-top: 25px;
  box-shadow: 1px 1px 6px #2316161a;
  color: white;
}

.channelgenerate.telegrame {
  background: #0088cc;
  width: 100%;
  padding: 22px;
  border-radius: 5px;
  margin-top: 25px;
  box-shadow: 1px 1px 6px #2316161a;
  color: white;
}

.channelgenerate.messanger {
  background: #006aff;
  width: 100%;
  padding: 22px;
  border-radius: 5px;
  margin-top: 25px;
  margin-bottom: 30px;
  box-shadow: 1px 1px 6px #2316161a;
  color: white;
}

.channelgenerategeneral .svg-inline--fa {
  margin: 0px 10px 0px 0px;
}

div#block-views-block-generatechannelbutton-block-1 {
  display: none;
}

a.cancelbutton {
  background: red;
  padding: 10px;
  border-radius: 5px;
  color: white;
  margin-left: 2rem;
  cursor: pointer;
}

form#node-localization-form {
  width: 60%;
  margin-left: 35%;
  padding: 14px;
  height: 555px;

  div#edit-actions {
    line-height: 2.5rem;
    margin: 10px 0px;
    display: flex;
  }
}

div#block-views-block-messagetotranslate-block-1 {
  width: 30%;
  background: white;
  border-radius: 5px;
  position: absolute !important;
  margin: 30px;
  top: 123px;
  padding: 10px;
  -webkit-box-shadow: 0px 1px 4px 1px #0a0a0a21;
  box-shadow: 0px 1px 4px 1px #0a0a0a21;
}

.js-form-item.form-item.js-form-type-entity-autocomplete.form-item-field-localization-tag-0-target-id.js-form-item-field-localization-tag-0-target-id {
  display: flex;
  flex-direction: column;
}

.block_moderation_state {
  position: relative;
}
/*

a.moderationStateButton.submit.submitpositionleft,
a.moderationStateButton.approve,
a.moderationStateButton.reject,
a.moderationStateButton.rsubmit {
  position: absolute;
  top: -41px;
  right: 34px;
  background: linear-gradient(45deg, #0c6385, #46ccff);
  padding: 5px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
*/

a.moderationStateButton.submit.submitpositionleft,
a.moderationStateButton.approve,
a.moderationStateButton.reject,
a.moderationStateButton.rsubmit {
  position: absolute;
  top: -48px;
  right: 34px;
  background: #00800075;
  padding: 5px;
  /* border-radius: 5px; */
  color: white;
  cursor: pointer;
  line-height: 38px;
  padding: auto 22px !important;
  font-size: 12px;
  width: 90px;
  text-align: center;
}

a.moderationStateButton.reject {
  right: 124px;
  background: #e53e3ead;
}

form#node-messages-form {
  height: 470px;
  padding: 10px;

  div#edit-actions {
    line-height: 2.5rem;
    margin: 10px 0px;
  }
  div#edit-body-0-format {
    display: none;
  }
}

td.tw-text-green-400.views-field.views-field-view-node {
  color: #1391c1 !important;
}

.pstStatusModeration {
  position: absolute;
  left: 130px;
  top: 4px;
}

.show-message img {
  display: block;
  width: 100%;
}
div#block-views-block-list-localization-block-1 {
  width: 95%;
  margin: auto;
  margin-top: 90px;
}

form#node-messages-edit-form {
  height: 624px;
  padding: 10px;
}

.js-form-item.form-item.js-form-type-entity-autocomplete.form-item-field-field-submoduleinmessage-0-target-id.js-form-item-field-field-submoduleinmessage-0-target-id {
  display: flex;
  flex-direction: column;
}

input#edit-field-field-submoduleinmessage-0-target-id {
  width: 100%;
}

div#edit-actions {
  line-height: 2.5rem;
  margin: 10px 20px;
}

div#edit-field-localisation-message-wrapper {
  display: block;
}

div#edit-field-messageid-wrapper {
  display: none;
}

div#edit-field-localization-messagebody-0-format {
  display: none;
}

div#datatable_filter > label {
  color: #f3f4f6;
}

a.btn {
  padding: 5px;
  color: white;
  background: #1391c1;
  font-size: 12px;
  line-height: 40px;
}

input#edit-field-contry-add-more {
  display: none;
}

form#user-register-form {
  padding: 20px;
  background: white;
  margin: 30px;
  div#edit-actions #edit-submit {
    width: 160px !important;
  }

  div#edit-actions {
    line-height: 2.5rem;
    margin: 10px 0px !important;
  }
}

.handle {
  display: none;
}

input#edit-user-picture-0-upload {
  padding: 2px;
}

input#edit-field-contry-0-target-id {
  width: 184%;
}

.password-strength__meter {
  height: 0.75em;

  margin-top: 0.5em;
  background-color: lightgray;
  display: none;
}

h4.label.js-form-required.form-required {
  position: relative;
  left: -221px !important;
}

div#block-tailwindcss-help {
  position: relative;
  left: 18px;
}

.tabledrag-toggle-weight-wrapper {
  display: none;
}

div#block-tailwindcss-help {
  position: relative;
  left: 18px;
  opacity: 0;
}

div#block-views-block-completionnblangue-block-1 {
  position: absolute !important;
  top: 0px;
  opacity: 0;
}

div#block-views-block-completionnbmessage-block-1-2 {
  position: absolute !important;
  opacity: 0;
}

div#block-views-block-completionnbtraduction-block-1 {
  position: absolute !important;
  opacity: 0;
}

input#edit-pass {
  opacity: 1;
  .views-field.views-field-field-localisation- {
    display: none;
  }

  .channelgenerate {
    cursor: pointer;
  }
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  font-size: large;
  visibility: hidden;
  width: 300px;
  background-color: #0094ff;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 64.5%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.blockmodule-description-submodule .message {
  &:hover {
    background-color: #f1e9e9;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
}

.btn-group {
  width: 100px;
  margin-left: 36%;
  position: absolute;

  line-height: 1.2;
}

a.addnewlocalisation {
  display: none;
}

.afficher-add-new-localistion {
  display: block !important;
}

.addnewlocalisationcacher {
  display: none;
}

form#user-login-form {
  width: 45%;
  background: #1491c1 !important;
  padding: 36px;
  height: 100vh;
}

h1.titre-cms-translation {
  color: white;
  font-size: 27px;
  text-align: center;
  font-weight: 800;
  line-height: 2;
  letter-spacing: 3px;
  word-spacing: 10px;
  margin: 30px;
}

div#edit-name--description {
  color: white;
  font-size: 15px;
  opacity: 0;
}

div#edit-pass--description {
  opacity: 0;
  font-size: 10px;
}

form#user-login-form:before {
  content: "";
  background: url(https://www.unicef.org/wca/sites/unicef.org.wca/files/styles/hero_desktop/public/wca-programme-2017-education.jpg?itok=nvG0RG9p);
  position: absolute;
  height: 100%;
  width: 55%;
  background-repeat: no-repeat;
  background-size: cover;
  right: 0;
  background-position: right;
}

input#edit-name,
input#edit-pass {
  background: #1391c1;
  border: none !important;
  border-bottom: solid 2px white !important;
  border-radius: 0px !important;

  &:focus-visible {
    outline: none !important;
  }
  &::placeholder {
    color: rgb(255, 255, 255) !important;
  }
}

.tw-container {
  max-width: 100% !important;
  padding: 0px 1.1% !important;
}

//.tw-shadow.tw-text-right.tw-px-8 {
//box-shadow: none !important;
//}

div#edit-field-field-moduleinmessage-wrapper {
  display: none;
}

div#block-views-block-cardnblangue-block-1 {
  display: none;
}

div#block-views-block-cardnbmessagelocalized-block-1 {
  display: none;
}

nav#block-mainmenudigitalcms {
  margin: 23px;
}

nav#block-mainmenudigitalcms ul li {
  line-height: 2.4;
}

.simpler_quickedit_click.simpler_quickedit.quickedit-field {
  position: relative;
}

svg.svg-inline--fa.fa-pencil-alt.fa-w-16.editeur-conten {
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
}

.simpler_quickedit_click.simpler_quickedit.quickedit-field:hover {
  background: rgb(255, 255, 255);
  svg.svg-inline--fa.fa-pencil-alt.fa-w-16.editeur-conten {
    opacity: 1 !important;
    color: #1391c1 !important;
  }
}

svg.svg-inline--fa.fa-pencil-alt.fa-w-16.editeur-conten {
  opacity: 0;
}

.views-field.views-field-body {
  white-space: nowrap;
  overflow: auto;
  text-overflow: ellipsis;
  width: 99%;
}

div#quickedit-entity-toolbar {
  
  max-width: 824px !important;
  min-width: 824px !important;
  background: #ffffff;
  margin: -60px -15px auto;
}


.simpler_quickedit_click.simpler_quickedit.quickedit-field.quickedit-candidate.quickedit-editable.quickedit-editing.quickedit-editor-is-popup {
  opacity: 0 !important;
}

.quickedit-toolbar-content {
  background: #ffffff !important;
}

.quickedit-toolbar-container > .quickedit-toolbar-pointer {
  background: white !important;
}

.quickedit-button.action-save {
  border-radius: 5px;
  color: white;
  border: 1px solid transparent;
  background-color: #1391c1;
  background-image: -webkit-linear-gradient(top, #50a0e9, #4481dc);
  background-image: linear-gradient(to bottom, #1391c1, #1391c1);
}

nav#block-digitalcmsmenu ul li {
  margin: 15px;
}

p.titrepagemessage {
  background: white;
  height: 3rem;
  color: #1391c1;
  font-size: 20px;
  line-height: 3rem;
  padding: 0px 10px !important;
  border-top: solid 1px #a5a5a552;
}

.align-left {
  float: inherit;
}

button.btn.btn-edit.tw-bg-blue-700.tw-text-white.hover\:tw-bg-blue-700.hover\:tw-text-white.active.tw-font-bold.uppercase.tw-text-sm.tw-px-6.tw-py-3.tw-rounded-l.tw-outline-none.tw-focus\:outline-none.tw-mb-1.tw-ease-linear.tw-transition-all.tw-duration-150 {
  background: #1391c1 !important;
}

button.btn.btn-preview.tw-bg-blue-500.tw-text-white.hover\:tw-bg-blue-700.hover\:tw-text-white.tw-font-bold.uppercase.tw-text-sm.tw-px-6.tw-py-3.tw-rounded-r.outline-none.tw-focus\:outline-none.tw-mb-1.tw-ease-linear.transition-all.duration-150 {
  border-radius: 0px 0px 0px 0px !important;
}

.back-rejected {
  background: #ff000085 !important;
  color: white !important;
}

.colore-turne-edite {
  background: #1491c1 !important;
}
.hidenotefoundasbord {
  display: none !important;
}

element.style {
  display: block;
}
.dialog-off-canvas-main-canvas a.use-ajax {
  padding-left: 78.9% !important;
  color: rgba(59, 131, 246, 0.931);
  position: relative;
  font-weight: 200;
}
