<p>
	<strong> {{ message }} </strong>
    Completion : <em> {{ offer }} %</em><br>
    of content translated.


<button name="button">PDF</button>
<button name="button">Translation</button>
<button name="button">Setting</button>
<strong> {{ count }} </strong>
</p>