
body{
  background: #e5e7eb !important;

}

aside.md\:tw-w-1\/4.tw-p-4.tw-bg-green-500.tw-text-white.tw-font-semibold {
    background-color:#036672 !important;
    width: 260px !important;
  }
  
  .dialog-off-canvas-main-canvas {
    background:rgb(229, 231, 235);
  }
  
  .tw-shadow.tw-text-right.tw-px-8 {
    text-align: right !important;
    line-height: 3em;
    background: white;
    border-bottom: solid 0.5px #e2e2e2;
}
  
  .md\:tw-flex-1.tw-p-4.block-contenu {
    margin: 0px !important;
    padding: 0px !important;
  }
 


h1.js-quickedit-page-title {
 
    line-height: 3em;
    background: white;
    box-shadow: 0px 4px 4px -3px;

  
  }

  div#block-searchform {
    margin: 2rem;

    [type=search] {
        -webkit-appearance: textfield;
        border-radius: 5px;
        width: 360px;
        height: 2.5rem;
    }
}
nav#block-mainnavigation {
    margin: 20px 20px;

    ul li {
        line-height: 2.5em;
        font-weight: normal;
    }

}

form#search-block-form {
    display: flex;
    width: 100% !important;
}

div#edit-actions {
    line-height: 2.5rem;
    margin: 10px 20px;

    
    #edit-submit {
        border-radius: 5px !important;
    width: 100px !important;
    color: white !important; 
    background: linear-gradient(45deg, #10b981, #059669);
    border: cornsilk !important;
    }


}

div#datatable_wrapper {
  margin: 2rem;
}

div#block-views-block-course-liste-block-1 {
  margin: 1.5rem;


}

.md\:tw-flex-1.tw-p-4.block-contenu {
  background: rgb(243, 244, 246);
  position: relative;
}


tr.color-edite-countrie td:nth-child(3) {
  color: #149b2c !important;
}

tr.color-edite-user td:nth-child(4) {
  color: #149b2c !important;
}

nav#block-mainnavigation ul li:hover {
  background: #05505c;
}
nav#block-mainnavigation ul li:active {
  background: #05505c;
}



nav#block-tailwindcss-tools li {
  margin: 20px;
}

h1.js-quickedit-page-title {
  font-size: 1.5rem !important;
  padding-left: 2rem !important;
}

.tw-item-card {

  height: 166px;
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  --tw-border-opacity: 1;
  border-color: rgba(229, 231, 235, var(--tw-border-opacity));
  border-radius: 0.5rem;
  border-width: 1px;
  padding: 1rem;
  margin: 0.5rem;
  position: relative;

  p {
    font-size: 0.875rem;
    line-height: 1.25rem;
}
&:hover {
  box-shadow: 1px 0px 7px gainsboro;
}


span.section-buttom {
  line-height: 70px;

  .numberomodul {
    font-size: 0.8rem !important;
    color: gray;
    margin-right: 5rem;
    }
}

.section-button-course {
  position: absolute;
  bottom: 10px !important;
}

}
.views-view-grid.horizontal.cols-4.clearfix {
  margin: 1.5rem;
}


 
.contextual-region.js-view-dom-id-b82e9ab7de4495462d18a5cca39c676a79b2cecc4b4c668ea533ec13fd66e43d a.tw-action-new.tw-btn.tw-btn-primary {
  background: linear-gradient(45deg, #10b981, #059669);
  padding: 10px;
  border-radius: 5px;
  color: white;
  position: absolute;
  top: -90px !important;
  right: 2em;

  &:hover {
    background: linear-gradient(
45deg
,#00ffaa,#014731);
  }

}


a.tw-action-new.tw-btn.tw-btn-primary {
  background: linear-gradient(45deg, #10b981, #059669);
  padding: 10px;
  border-radius: 5px;
  color: white;
  position: absolute;
  top: 62px !important;
  right: 2em;

  &:hover {
    background: linear-gradient(
45deg
,#00ffaa,#014731);
  }

}

.add-course-btn{
  top: -80px !important;
}


article.contextual-region.node {
  margin: 2rem;
  background: white;
  box-shadow: 1px 1px 6px #2316161a;
  border-radius: 5px;
  padding: 15px;
  width: 70%;
}

div#block-filsdariane {
  padding: 2rem 0rem 0rem 2rem;
  color: gray;
}

div#block-views-block-module-et-sub-block-1-2 {
  margin: 2rem;

  
}


span.link-text {
  font-weight: initial;
}

.blockmodule-des > h3 {
  color: gray;
  background: white;
  line-height: 5rem;
  width: 70%;
  font-size: 1.5rem;
  font-weight: 200;
  padding: 0px 20px;
  border-bottom:1px solid  #80808036 ;
  position: relative;

  &:hover{
    background:rgb(238, 251, 245);
  }
  
 
}
 /* 
.blockmodule-des > div {
display: none;
} 

*/
.blockmodule-titre-module-green{
  background:rgb(238, 251, 245) !important;
}

.blockmodule-submodule {

  width: 75% !important;
  background:rgb(238, 251, 245) !important;
  padding: 5px 20px !important;
  .blockmodule-description-submodule{
    &:hover {
      color: rgb(17, 150, 238);
  }
 
}
}


.blockmodule-des-modale  {
  opacity: 0 !important;
}

.expand-minimize-button{
  position: absolute;
  right: 1%;
  margin: 25px 20px;
  cursor: pointer;
  z-index: 99999999999999999999999 !important;
}

.blockmodule-titre-module > a {
  z-index: -1 !important;
}

.colore-black{
  background:rgb(238, 251, 245) !important;
  width: 75%;
}

.ch-rotation{
  transform: rotate(180deg) !important;
}

span.expandall-minimizeall-button.cursor-pointer {
  color: rgba(59, 131, 246, 0.931);
  line-height: 2rem;
  cursor: pointer;
  position:absolute;
  top: -48px;
  left: 67%;
}


.tw-btn-action-new {
  border-width: 2px;
  justify-content: center;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  min-height: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding: 0rem 3rem;
  color: #149b2c;
  margin: 6rem 0rem;
  width: 21.5%;

  &:hover{
    color: #ffffff;
    background: linear-gradient(
      45deg
      ,#00ffaa,#014731);
    border-style:hidden;
  }
}

.tw-btn-action-new {
  --tw-border-opacity: 1;
  border-color: rgba(16, 185, 129, var(--tw-border-opacity));
  border-radius: 0.5rem;
  border-style: dashed;
}
.tw-h-16 {
  height: 4rem;
}

.listes-courses > a {
  color: black;
  font-size: 18px;
  font-weight: 700;
}

div#block-views-block-module-liste-block-1 {
  margin: 2em;
}

.blockmodule-titre-module {

  color: gray;
  background: white;
  line-height: 5rem;
  width: 75%;
  font-size: 1.5rem;
  font-weight: 200;
  padding: 0px 20px;
  border-bottom: 1px solid #80808036;
  position: relative;

  &:hover{
    background: #eefbf5;
  }
}

.blockmodule-submodule {
  width: 70%;
 

  .blockmodule-titre-submodule{
    font-size: 18px;
    font-weight: 500;
    color: gray;
    padding: 10px 0px;
    width: 70%;
    
  }
}
form#node-course-form {
  margin-top: 40px;
}


.js-form-item.form-item.js-form-type-vertical-tabs.form-item-.js-form-item-.form-no-label {
  display: none;
}

div#block-tailwindcss-content {
  margin-top: 30px;
}

.js-form-item.form-item.js-form-type-textfield.form-item-title-0-value.js-form-item-title-0-value ,
.js-form-item.form-item.js-form-type-entity-autocomplete.form-item-field-course-0-target-id.js-form-item-field-course-0-target-id , 
.js-form-item.form-item.js-form-type-entity-autocomplete.form-item-field-module-0-target-id.js-form-item-field-module-0-target-id ,
.js-form-item.form-item.js-form-type-textfield.form-item-field-message-0-value.js-form-item-field-message-0-value{
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: auto;
  padding: 15px 0px;

}


input#edit-preview {
  display: none;
}


.js-form-item.form-item.js-form-type-checkbox.form-item-status-value.js-form-item-status-value {
  display: none;
}

form#node-course-form ,form#node-module-form ,form#node-sub-module-form ,.node-course__edit-form , .node-form { 
  margin-top: 40px;
  background: white;
  width: 80%;
  margin: auto;
  box-shadow: 0px 1px 4px 1px #02020221;
  border-radius:0.25rem;
  height: 300px;

  .js-form-item.form-item.js-form-type-textarea.form-item-field-description-0-value.js-form-item-field-description-0-value {
    width: 95%;
    margin: auto;
}

  textarea {
    overflow: auto;
    border: 1px #a0aebf solid;
    border-radius: 0.25rem;
    width: 100%;
}

input#edit-title-0-value , input#edit-field-course-0-target-id ,input#edit-field-module-0-target-id ,input#edit-field-message-0-value ,.js-form-item{
  border-radius: 0.25rem;
  line-height: 2;
}


}
form#node-module-form ,form#node-sub-module-form{
  height: 400px !important;
}

.seconde-side-bar {
  position: absolute;
  right: 0;
  top: 150px;
}

.tw-p-3 {
  padding: .75rem!important;
  margin: 0 2rem 0rem 1rem;
  text-align: center;
}




.contextual-region.js-view-dom-id-66ad6204a8e45abc4904582549c94ff60f90b8350b29b31028a79a806abbddd4 >header {
  display: none;
}
.tw-grid.tw-grid-cols-4.tw-gap-1.tw-place-items-stretch>p {
  color: #5656568f;

  &:hover{
    color: #149b2c;
  }
 
  
}

.blockmodule-description-submodule {
   padding: 20px; 

}
.message{
 border: 1px solid #80808063;
  padding: 20px;
}

form#node-sub-module-edit-form {
  height: 330px;
}

/*
.views-col {
  position: relative;

  a.addcourseoncard {
    position: absolute;
    right: -68%;
  }
}

*/

.views-col.col-1.addcourse-blank .tw-item-card {
  color: #059669;
  border: 2px solid #059669;
  border-style: dashed;
  position: relative;
  cursor: pointer !important;

  &:hover{

  color: rgb(255, 255, 255);
  border: 2px solid #059669;
  background:#059669 !important;
  cursor: pointer !important;

  }


  a.addcoursebutton {
    position: absolute;
    margin: auto;
    top: 40%;
    left: 30%;
}
}
a.addcoursebutton:before {
  content: '';
  position: absolute;
  height: 164px;
  width: 225px;
  background: red;
  top: -66px;
  right: -69px;
  opacity: 0;
}

.contextual-toolbar-tab.toolbar-tab {
  left: 92%;
  background: #ff0000;
  position: absolute;
}

/*
nav#toolbar-bar , div#toolbar-item-administration-tray ,li.menu-item.menu-item--expanded , li.menu-item , #toolbar-administration, #toolbar-administration *{
  background: #036672;
}

#toolbar-administration, #toolbar-administration * {
  box-sizing: border-box;
  color: white;
}

#toolbar-administration, #toolbar-administration *:hover {
  box-sizing: border-box;
  color: rgb(0, 0, 0);
}
*/


article.contextual-region.node:before {
  content: '';
  background: #c7c3c3;
  height: 550px;
  width: 1px;
  position: absolute;
  right: -18px;
  top: 0;
}

.listee-des-module-sub-module{
  margin-top: 60px !important;
}

#edit-delete {
  border-radius: 5px !important;
  width: 100px !important;
  color: white !important;
  background: linear-gradient( 
45deg
,#e53e3e,#e53e3e) !important;
  border: cornsilk !important;
  padding: 10px;
}

.dialog-off-canvas-main-canvas {
  background: #e5e7eb;
 
  position: relative;
  display: flex;
  align-items: center;

  form#user-login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #e5e7eb;
    margin-top: 100px;

    div#edit-actions {
      line-height: 2.5rem;
      margin: 10px 20px;
      width: 100%;
      text-align: center;
  }


    .js-form-item {
      text-align: center;
  }

    .svg-inline--fa.fa-fw {
      width: 1.25em;
      margin: 0px 15px;
      color: #adb5bd;
  }

    label{
      display: none;
    }
   
    &:before {
      content: '';
      background: #e5e7eb;
      position: absolute;
      height: 130px;
      width: 100%;
      top: 0;
    }

    input#edit-submit {
      background: #6174d1 !important;
      width: 25% !important;
      margin-left: 51px;
  }


      input {
       
        line-height: 3;
        border-radius: 0.25rem;
        width: 60%;
    }
    div#edit-name--description ,div#edit-pass--description {
      opacity: 0;
  }

  h1.titre-cms-translation {
    font-size: 20px;
    font-weight: 700;
    margin: 40px 0px;
    color: #4B5366;
    margin-left: 50px;
}


}
  
}

.md\:tw-flex-1.tw-p-4.block-contenu {
  min-height: 650px;
}

.add-module{

color: #149b2c;
border: solid 2px;
border-style: dashed;
border-radius: 8px;
line-height: 3;
text-align: center;
width: 80%;
margin: auto 20px;
position: absolute;
z-index: 10;
padding: 0px;
}
a.use-ajax{
    padding-left: 63%;
    color: #191818;
    background: #eefbf5;
}

.breadcum{
margin-left: 4%;
margin-bottom: -3%;
margin-top: 3%;
color: #4B5366;
}
.node-content{
.quickedit-field {
a {
    --tw-text-opacity: 1;
    color: rgba(107, 114, 128, var(--tw-text-opacity));} 
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 300;
}
}

.add-translation{
color: #149b2c;
border: solid 2px;
border-style: dashed;
border-radius: 8px;
line-height: 3;
text-align: center;
width: 25%;
margin-left: 5%;
z-index: 10;

}

