aside.md\:tw-w-1\/4.tw-p-4.tw-bg-green-500.tw-h-screen.tw-text-white.tw-font-semibold {
  background-color: #036672 !important;
  width: 260px !important;
}

.dialog-off-canvas-main-canvas {
  background: #e5e7eb;
}

.tw-shadow.tw-text-right.tw-px-8 {
  text-align: right !important;
  line-height: 3em;
  background: white;
  border-bottom: solid 0.5px #e2e2e2;
}

.md\:tw-flex-1.tw-p-4.block-contenu {
  margin: 0px !important;
  padding: 0px !important;
}

h1.js-quickedit-page-title {
  line-height: 3em;
  background: white;
  -webkit-box-shadow: 0px 4px 4px -3px;
          box-shadow: 0px 4px 4px -3px;
}

div#block-searchform {
  margin: 2rem;
}

div#block-searchform [type=search] {
  -webkit-appearance: textfield;
  border-radius: 5px;
  width: 360px;
  height: 2.5rem;
}

nav#block-mainnavigation {
  margin: 20px 20px;
}

nav#block-mainnavigation ul li {
  line-height: 2.5em;
  font-weight: normal;
}

form#search-block-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100% !important;
}

div#edit-actions {
  line-height: 2.5rem;
  margin: 0px 20px;
}

div#edit-actions #edit-submit {
  border-radius: 5px !important;
  width: 100px !important;
  color: white !important;
  background: linear-gradient(45deg, #10b981, #059669) !important;
  border: cornsilk !important;
}

div#datatable_wrapper {
  margin: 2rem;
}

div#block-views-block-course-liste-block-1 {
  margin: 1.5rem;
}

.md\:tw-flex-1.tw-p-4.block-contenu {
  background: #f3f4f6;
}

tr.color-edite-countrie td:nth-child(3) {
  color: #149b2c !important;
}

tr.color-edite-user td:nth-child(4) {
  color: #149b2c !important;
}

nav#block-mainnavigation ul li:hover {
  background: #05505c;
}

nav#block-mainnavigation ul li:active {
  background: #05505c;
}

nav#block-tailwindcss-tools li {
  margin: 20px;
}

h1.js-quickedit-page-title {
  font-size: 1.5rem !important;
  padding-left: 2rem !important;
}

.tw-item-card {
  height: 166px;
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  --tw-border-opacity: 1;
  border-color: rgba(229, 231, 235, var(--tw-border-opacity));
  border-radius: 0.5rem;
  border-width: 1px;
  padding: 1rem;
  margin: 0.5rem;
  position: relative;
}

.tw-item-card p {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.tw-item-card:hover {
  -webkit-box-shadow: 1px 0px 7px gainsboro;
          box-shadow: 1px 0px 7px gainsboro;
}

.tw-item-card .numberomodul {
  font-size: 0.8rem !important;
  color: gray;
  margin-right: 6rem;
}

.tw-item-card .section-button-course {
  position: absolute;
  bottom: 10px !important;
}

.views-view-grid.horizontal.cols-4.clearfix {
  margin: 1.5rem;
}

a.tw-action-new.tw-btn.tw-btn-primary {
  background: linear-gradient(45deg, #10b981, #059669);
  padding: 10px;
  border-radius: 5px;
  color: white;
  position: absolute;
  top: -90px;
  right: 2em;
}

a.tw-action-new.tw-btn.tw-btn-primary:hover {
  background: linear-gradient(45deg, #00ffaa, #014731);
}

.add-course-btn {
  top: -80px !important;
}

article.contextual-region.node {
  margin: 2rem;
  background: white;
  -webkit-box-shadow: 1px 1px 6px #2316161a;
          box-shadow: 1px 1px 6px #2316161a;
  border-radius: 5px;
  padding: 15px;
  width: 65%;
}

div#block-filsdariane {
  padding: 2rem 0rem 0rem 2rem;
  color: gray;
}

div#block-views-block-module-et-sub-block-1-2 {
  margin: 2rem;
}

span.link-text {
  font-weight: initial;
}

.blockmodule-des > h3 {
  color: gray;
  background: white;
  line-height: 5rem;
  width: 70%;
  font-size: 1.5rem;
  font-weight: 200;
  padding: 0px 20px;
  border-bottom: 1px solid  #80808036;
  position: relative;
}

.blockmodule-des > h3:hover {
  background: #eefbf5;
}

.blockmodule-des > div {
  display: none;
}

.blockmodule-des-open > div {
  width: 70% !important;
  background: #eefbf5 !important;
  padding: 5px 20px !important;
}

.blockmodule-des-open > div a:hover {
  color: blue;
}

.blockmodule-des-modale {
  opacity: 0 !important;
}

svg.svg-inline--fa.fa-chevron-down.fa-w-14.expand-minimize-button.text-light.text-xl.font-thin.text-gray-400 {
  position: absolute;
  right: 1%;
  margin: 25px 20px;
}

.colore-black {
  background: #eefbf5 !important;
}

.ch-rotation {
  -webkit-transform: rotate(180deg) !important;
          transform: rotate(180deg) !important;
}

span.expandall-minimizeall-button.cursor-pointer {
  color: blue;
  line-height: 2rem;
  cursor: pointer;
}

.tw-btn-action-new {
  border-width: 2px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  min-height: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding: 0rem 3rem;
  color: #149b2c;
}

.tw-btn-action-new:hover {
  color: #ffffff;
  background: linear-gradient(45deg, #00ffaa, #014731);
  border-style: hidden;
}

.tw-btn-action-new {
  --tw-border-opacity: 1;
  border-color: rgba(16, 185, 129, var(--tw-border-opacity));
  border-radius: 0.5rem;
  border-style: dashed;
}

.tw-h-16 {
  height: 4rem;
}
/*# sourceMappingURL=style.css.map */