<!DOCTYPE html>
<html lang="es">
<head>
  <style type="text/css">
    {{ css }}
   </style>
   <title>{{ title }}</title>
</head>
<body class="pdf">
	<div class="content">{{ content }}</div>
</body>
</html>
